<shared-sidebar></shared-sidebar>
  <p-card>
    <form enctype="multipart/form-data" action="" [formGroup]="productForm">
   <h2 style="text-align: center;">Sube tu producto</h2>
   <div class="flex flex-column gap-2">
    <div class="flex flex-column" >
      <div style="text-align: left;">
       <label for="nombre">Nombre</label>
      </div>
      <input style="width: 100%;" formControlName="nombre" pInputText aria-describedby="username-help" />
    </div>
    </div>
    <div class="flex flex-column gap-2">
        <div class="flex flex-column" >
          <div style="text-align: left;">
           <label for="username">Precio</label>
          </div>
          <p-inputNumber formControlName="precio" [style]="{'width':'116rem'}" inputId="locale-user" [minFractionDigits]="2">  </p-inputNumber> 
        </div>
        </div>
        <div class="flex flex-column gap-2">
            <div class="flex flex-column" >
              <div style="text-align: left;">
               <label for="username">Descripcion</label>
              </div>
              <textarea formControlName="descripcion" style="width: 100%; resize: none;"  pInputTextarea></textarea>
            </div>
            </div>
            <div class="flex flex-column gap-2">
                <div class="flex flex-column" >
                  <div style="text-align: left;">
                   <label for="username">Categoria</label>
                  </div>
                  <p-dropdown  placeholder="Seleccione Categoria"  
                  [options]="categorias"[showClear]="true"   optionLabel="nombre"  formControlName="categoria">
                  
                </p-dropdown>
                </div>
                </div>
                <div  style="text-align: left;">
                  <label for=""> Imagen del producto</label>
                </div>
                <p-fileUpload
                  #fileUpload 
                  [customUpload]="true"
                  accept="image/*"
                 chooseLabel="Subir" cancelLabel="Cancelar"  [showUploadButton]="false"  
                  (uploadHandler)="uploadFile($event)"
                ></p-fileUpload>
                <!-- <div class="card flex justify-content-center">
                  <p-toast></p-toast>
                  <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
              </div> -->
              <div  class="flex flex-column gap-2">
                <div  style="text-align: left;">
                <label for="">Genero</label>
              </div>
              <p-dropdown  placeholder="Seleccione Categoria"  
              [options]="generos_back"[showClear]="true"   optionLabel="nombre"  formControlName="genero">
              
            </p-dropdown>
              </div>
              <button  pButton  pRipple (click)="botonProducto(productForm)" type="button" label="Ingresar" class="p-button-secondary"></button>
  </form>
</p-card> 


