<!-- <form [formGroup]="productForm" >
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number" id="precio" formControlName="precio" class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
    </div>
  
    <div class="form-group">
      <label for="imagen">Imagen</label>
      <input type="file" id="imagen" formControlName="imagen" class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="categoria">Categoría</label>
      <input type="text" id="categoria" formControlName="categoria" class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="generos">Géneros</label>
      <p-multiSelect id="generos" [options]="generosOptions" formControlName="generos"></p-multiSelect>
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form> -->
  <p-card>
   <h2 style="text-align: center;">Sube tu producto</h2>
   <div class="flex flex-column gap-2">
    <div class="flex flex-column" >
      <div style="text-align: left;">
       <label for="username">Nombre</label>
      </div>
      <input formControlName="email" pInputText id="email" aria-describedby="username-help" />
    </div>
    </div>
    <div class="flex flex-column gap-2">
        <div class="flex flex-column" >
          <div style="text-align: left;">
           <label for="username">Precio</label>
          </div>
          <p-inputNumber  inputId="locale-user" [minFractionDigits]="2">  </p-inputNumber> 
        </div>
        </div>
        <div class="flex flex-column gap-2">
            <div class="flex flex-column" >
              <div style="text-align: left;">
               <label for="username">Descripcion</label>
              </div>
              <textarea pInputTextarea></textarea>
            </div>
            </div>
            <div class="flex flex-column gap-2">
                <div class="flex flex-column" >
                  <div style="text-align: left;">
                   <label for="username">Categoria</label>
                  </div>
                  <p-dropdown  placeholder="Seleccione Categoria" optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
                </div>
                <p-fileUpload name="myfile[]" chooseLabel="Subir" cancelLabel="Cancelar"  [showUploadButton]="false"  accept="image/*" url="./upload.php"></p-fileUpload>
                <p-multiSelect  optionLabel="name"></p-multiSelect>
</p-card> 
