@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

.sect-1-misvis{
    width: 100%;
    height: 110rem;
}
.phrase1{
    width: 100%;
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center ;
    background-image: url("/assets/imagenes/Mis-Vis/Phrase1.svg");
}
.container-mis{
    align-items: center;
    height: 30rem;
    width: 100%;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.container-mis h1{
    text-align: center;
    font-weight: 600;
    margin: 2rem;
    font-size: 4rem;
}
.container-mis p{
    text-align: center;
    font-weight: 200;
    margin: 5rem;
    font-size: 2rem;
}
.container-vis{
    width: 100%;
    height: 40rem;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #fff;
    padding: 3rem;
}
.container-vis h1{
    text-align: center;
    font-weight: 700;
    margin: 2rem;
    font-size: 4rem;
}
.container-vis p{
    text-align: center;
    font-weight: 200;
    margin: 5rem;
    font-size: 2rem;
}
.img-slogan2{
    width: 100%;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center ;
    background-image: url("/assets/imagenes/Mis-Vis/Phrase2.svg");
}