@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

img {
width: 60vh;
height: 70vh;
margin-left: 10%;

 }

.card {
  font-family: 'Montserrat', sans-serif;

    width:25rem;
    text-align: center;

}

.container {
  padding: 2rem;

    display: flex;
    background-color: #F5F2F2;
  }

  // .left-element {
  //   /* Estilos para el elemento izquierdo */
  // }

  .right-element {

   margin-left: 500px;

  }
  
  .p-button-secondary {
    background-color: black;
    color: white; /* Cambia el color del texto a blanco para que sea visible en el fondo negro */
  }

  .hover-effect:hover {
    color: purple; /* Cambia 'YourColor' al color que desees */
    /* Otros estilos que desees aplicar al hacer hover */
}
