
<div style="display: flex; flex-direction: column; align-items: center;">
    <img alt="Card" src="assets/imagenes/logo.jpg" class="img">
    <form [formGroup]="formLogIn">
    <p-card header="Inicio de sesión" class="card">
      <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
          <div class="flex flex-column">
            <div style="text-align: left;">
             <label for="username">Usuario</label>
            </div>
            <input formControlName="username" style="width: 22rem;margin-left: -50px;" pInputText id="username" aria-describedby="username-help" />
            <span *ngIf="validacion_datos_usuario('username', 'required')"><h6 style="color: red; font-size: 12px; margin:0%;">Es obligatorio escribir un usuario</h6></span>
            <span *ngIf="validacion_datos_usuario('username', 'maxlength')"><h6 style="color: red; font-size: 12px; margin:0%;">El usuario no puede tener más de 20 caracteres</h6></span>
          </div>
        </div>
        <div class="flex flex-column gap-2">
            <div class="flex flex-column">
              <div style="text-align: left;">
               <label  for="password">Contraseña</label>
              </div>
              <input formControlName="password" style="width: 22rem;margin-left: -50px;" pInputText id="password" type="password" /> 
             <span *ngIf="validacion_datos_usuario('password', 'required')"><h6 style="color: red; font-size: 12px; margin:0%;">Es obligatorio escribir una contraseña</h6></span>
            </div>
        </div>
        <div style="padding: 10px;">
            <p-button (click)="loginboton(formLogIn)" [style]="{'margin-left':'-50px'}"  label="Submit"></p-button>
        </div>
     </div>
    </p-card>
    </form>
</div>

  