<shared-sidebar></shared-sidebar>

<div class="sect-1">
    <div class="wallpaper">
    <div class="phrase-home" >GANA DINERO CON  SOLO UNOS <br/>CUANTOS LIBROS, MANGAS Y COMICS </div>
    <button class="btn-23" routerLink="/vender">
        <span class="text">Empezar a vender</span>
        <span aria-hidden="" class="marquee"> A Vender!</span>
      </button>

    </div>
</div>
<div class="sect-2">
    <div class="banner">
    <div class="img-banner">
    </div>
    </div>
</div>
<div class="sect-3">
    <h1> De novela a comic </h1>

    <div class="cards-info">
        <div class="comics-sect" ></div>
        <div class="libros-sect"  ></div>
        <div class="manga-sect" ></div>
    </div>
</div>
<div class="sect-4">
    <h1>Joyitas de la semana</h1>

    <div class="top">
      <div *ngFor="let product of products" class="product-item">
        <h2>{{ product.nombre }}</h2>
        <p>Precio: {{ product.precio }}</p>
        <img [src]="product.imagen" alt="{{ product.nombre }}">
        <!-- Agrega más campos según tus necesidades -->
      </div>
    </div>
  </div>
<div class="sect-5">
    <div class="img-slogan">
    </div>
</div>
<shared-footer></shared-footer>

