@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
body,html{
    margin: 0;
    padding: 0;
}
.sect-1{
    width: 100%;
    height: 20rem;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.wallpaper{
    width: 100%;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
    background-image: url("/assets/imagenes/Inicio/wallpaper.jpg");
}

.phrase-home{
   color: white;
   font-size: 30px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 200;
   line-height: 32px;
   top: 130px;
   position: absolute;
   margin: 0 1.3rem 0 1.3rem;

}

// button A VENDER
.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: none;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #C39E78;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  margin: 0 3rem 0 3rem;
  text-transform: uppercase;
  top: 210px;
  position: absolute;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 105rem;
  border-width: 5px;
  overflow: hidden;
  padding: 0.8rem 8rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 6em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

// banner section info
.sect-2{
    width: 100%;
    height: 10.2rem;
}
.img-banner{
    background-image: url("/assets/imagenes/Inicio/Banner.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
}

// cards section with button link
.sect-3{
    width: 100%;
    height: 30rem;
    position: relative;
    font-family: 'Montserrat', sans-serif;

}
.sect-3 h1{
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

.cards-info{
   align-items: center;
   text-align: center;
   margin: 1rem 15rem 1rem 15rem;
   margin: 30rem;
   font-weight: 200;
}

.comics-sect{
    width: 404px;
    height: 307px;
    left: 1200px;
    top: 110px;
    position: absolute;
    background-image: url("/assets/imagenes/Inicio/Comics.svg");
}

.libros-sect{
    width: 404px;
    height: 307px;
    left: 715px;
    top: 110px;
    position: absolute;
    background-image: url("/assets/imagenes/Inicio/Libros.svg");
}

.manga-sect{
    width: 406px;
    height: 307px;
    left: 230px;
    top: 110px;
    position: absolute;
    background-image: url("/assets/imagenes/Inicio/Mangas.svg");
}

// section joyitas de la semana
.sect-4{
    width: 100%;
    height: 30rem;
    font-family: 'Montserrat', sans-serif;
}
.sect-4 h1{
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

// slogan section
.sect-5{
    width: 100%;
    height: 30rem;
}

.img-slogan{
    background-image: url("/assets/imagenes/Inicio/Slogan.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
}

.product-item img {
  max-width: 100%;
  max-height: 200px; /* Ajusta según tus necesidades */
  margin-top: 10px;
  
}

.product-item {
  padding-left: 100px;
  text-align: center;
}

.top {
  display: flex;
  flex-wrap: nowrap;
 margin-left: 28%;
}