

<!-- nav -->
<shared-sidebar> </shared-sidebar>
<!-- hero -->
<div class="container">
   <div class="container-fluid row flex-lg-row-reverse align-items-center justify-content-center g-3 mt-4 me-0 pe-0 hero px-4">
    <div class="container col-10 col-sm-8 col-lg-6 center-important">
      <img src="../../assets/img/view_general/home.jpg" loading="lazy">
    </div>
    <div class="col-lg-6 center-important p-4">
      <h1 class="display-5 fw-bold lh-1 mb-3">Boot your iPhone security in the offices</h1>
      <p class="lead">It is an insurance service against theft or hacking of your mobile, just by paying a monthly subscription we cover you for everything that can happen!</p>
      <div class="d-grid pb-5 gap-2 d-md-flex justify-content-md-start">
        <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="#prices">Get service</a>
        <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="#features">Features</a>
      </div>
    </div>
  </div>
</div>
<!-- features -->
<div class="container-fluid py-4 bg-dark text-bg-dark px-4" id="features" >
  <div class="container">
      <h2 class="border-bottom pb-2 pt-4">Features</h2>
      <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
          <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-4">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
              </div>
              <h3 class="fs-2">Fast Attention</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          </div>
          <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-4">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
              </div>
              <h3 class="fs-2">Remote in home</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          </div>
          <div class="feature col">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-4">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
              </div>
              <h3 class="fs-2">Easy usability</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          </div>
      </div>
  </div>
</div>
<!-- banner 1 -->
<div class="container-fluid m-0 p-0 img-banner">
    <img class="container-fluid m-0 p-0" src="../../assets/img/psp-hero-banner-homepage-getsupport.image.large_2x.jpg" alt="">
</div>
<!-- prices -->
<div class="container" id="prices">
    <div class="pricing-header p-1 pb-md-1 text-center mt-4 px-4" >
      <h1 class="display-4 fw-normal">Pricing</h1>
      <p class="fs-5 text-muted ms-1 me-1">Select the best plan for your mobile lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 text-center p-3 pb-4 pricing-margin ">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm m-1">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 phone included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-outline-primary" href="#contact">Start free</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm m-1">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>2 phones included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-primary" href="#contact">Contact us</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm m-1 border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$49<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>5 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-primary" href="#contact">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner 2 -->
<img class="container-fluid m-0 p-0 img-banner" src="../../assets/img/Screen Shot 2022-09-09 at 14.16.41.png">
<!-- contact -->
<div class="container-fluid p-0 m-0 bg-dark pb-1 px-4" id="contact">
<div class="container pt-0 pb-5  contact-container text-bg-dark " id="contact">
  <h2 class="pb-2 pt-5 border-bottom mb-4">Contact</h2>
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div>
        <form class="mb-2">
          <div class="input-group mb-3">
            <span class="input-group-text w-25">Name</span>
            <input type="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3 ">
            <span class="input-group-text w-25">Surname</span>
            <input type="surname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text w-25">Email</span>
            <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group pb-3">
            <span class="input-group-text w-25">Text</span>
            <textarea class="form-control" aria-label="With textarea" required></textarea>
          </div>
          <input class="btn btn-primary w-100" type="submit" value="Submit">
      </form>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 mb-2">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48367.09508183037!2d-74.07130696874997!3d40.74126999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f0741ceda7%3A0x4fd23cddb7a3d144!2sApple%20Fifth%20Avenue!5e0!3m2!1sen!2sar!4v1662748665881!5m2!1sen!2sar" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
</div>

<shared-footer></shared-footer>

