@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

.container {
    max-width: 900px;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif;
    height: 30rem;;
}
// Estilos generales para el ícono de alcanza
.icon-wallet {
width: 2rem;
height: 2rem;
padding: .2rem;
    line-height: 1;
    // Colores, tamaño y posición del ícono
    color: #000;
    font-size: 24px;
    position: relative;
    top: 2px;
   }
.container h1{
    text-align: center;
    font-weight: 800;
}

.balance {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;

    .total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .positive {
            color: green;
            font-size: 24px;
            font-weight: bold;
        }

        .negative {
            color: red;
            font-size: 24px;
            font-weight: bold;
        }
}

.actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            margin-right: 10px;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .cobrar {
            background-color: #007bff;
            color: white;
        }

        .pendientes {
            background-color: #dc3545;
            color: white;
        }
    }
}

   table {
    border-collapse: collapse;
    width: 100%;
   }

   th, td {
    border: 1px solid #dddddd4f;
    padding: 8px;
    text-align: left;
   }

   th {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
   }

   tr:nth-child(even) {
    background-color: #f2f2f200;
   }

   tr:hover {
    background-color: #dddddd00;
   }