<shared-sidebar></shared-sidebar>
<div class="container">
    <h1>Mi Balance</h1>
    <div class="balance">

        <h2> <span class="icon-wallet"> <img src="/assets/imagenes/Mi-balance/icons8-dinero-16.png" alt=""></span>Balance de tus compras y ventas </h2>
        <div class="total">
           <span>Saldo Total:</span>
           <span class="{{ saldo >= 0 ? 'positive' : 'negative' }}">{{ saldo | currency:'USD':'symbol' }}</span>
        </div>
        <div class="actions">
           <button (click)="cobrar()" [disabled]="saldo <= 0">Cobrar</button>
           <button (click)="pendientes()">Pendientes</button>
        </div>
       </div>
    <table class="table">
       <thead>
         <tr>
           <th>Accion</th>
           <th>Descripcion</th>
           <th>Fecha</th>
           <th>Monto</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let historial of historial">
           <td>{{ historial.accion }}</td>
           <td>{{ historial.descripcion }}</td>
           <td>{{ historial.fecha }}</td>
           <td>{{ historial.monto }}</td>
         </tr>
       </tbody>
    </table>
   </div>
    <shared-footer></shared-footer>