<shared-sidebar></shared-sidebar>

<section class="sect-1-qs">
    <div class="container-qs">
        <h1> ¿Quienes somos? </h1>
    <p>
    Somos una comunidad apasionada por la lectura y la sostenibilidad. En nuestro espacio en línea, ofrecemos una plataforma única para comprar, vender y compartir libros, cómics y mangas.
    <br/><br/>Promovemos la reutilización de historias, conectando a amantes de la lectura de todo el mundo y brindando la oportunidad de descubrir tesoros literarios, mientras contribuimos
    a un futuro más sostenible. Únete a nosotros y forma parte de nuestra comunidad de lectores comprometidos con la preservación de las palabras y las imágenes que inspiran nuestras vidas.
</p>
</div>
</section>

<section class="sect-2-qs">
<div class="img-qs"></div>
</section>

<shared-footer></shared-footer>
