<!-- <div *ngIf="producto">
    <h1>{{ producto.nombre }}</h1>
    <p>Precio: {{ producto.precio }}</p>
    <img [src]="producto.imagen" alt="{{ producto.nombre }}">
    <p>Descripción: {{ producto.descripcion }}</p>

  </div> -->


  <html>
<shared-sidebar></shared-sidebar>
  <body>
    
    <main>
       
      <div class="card">
        <div class="card__title">
          <div class="icon">
            <a href="#"><i class="fa fa-arrow-left"></i></a>
          </div>
          <h3>Detalles del producto</h3>
        </div>
        <div class="card__body">
          <div class="half">
            <div class="featured_text">
              <h1>{{ producto?.categoria_nombre }}</h1>
              <p class="sub">{{ producto?.nombre }}</p>
              <p class="price">Precio: {{ producto?.precio }}</p>
            </div>
            <div class="image">
              <img [src]="producto?.imagen" alt="{{ producto?.nombre }}">
            </div>
          </div>
          <div class="half">
            <div class="description">
              <p>Descripción: {{ producto?.descripcion }}</p>
              
            </div>
           
            <div class="reviews">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
              </ul>
             
            </div>
          </div>
        </div>
        <div class="card__footer">
          <div class="recommend">
            <p>Recomendado por</p>
            <h3>Algunos usuarios</h3>
          </div>
          <div class="action">
            <button type="button">Agregar carrito</button>
          </div>
        </div>
      </div>
    </main>
    <shared-footer class="footer"></shared-footer>
  </body>
  
  </html>
  