@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.horizontal-menu{
  margin: 0;
  padding: 0;
  height: 5rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

ul, ol {
  list-style:none;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display:block;
	color:rgb(0, 0, 0)000;
	text-decoration:none;
  font-size:1rem;
	line-height:2.125rem;
	padding:0 2.5rem;
}

.list{
  padding: .9rem .7rem;
}

.list:hover{
  color: #8C644D;
}

.menu-item {
  float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.menu-item i {
  margin-right: 100px;
}

.img {
  width: 10%;
  height: 4rem;
  margin-left: 150px;
}

.p-button-secondary {
  background-color: black;
  color: white;
}

.submenu {
  color: #000;
  position: relative;
  cursor: pointer;

}

.submenu:hover{
  position: block;
}

.links{
  color: #000;
}

.submenu > ul {
  border-radius: .5rem;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 2px;
  background-color: #fff;
  z-index: 1;
}

.submenu:hover > ul {
  display:block;
  cursor: auto;

}

