.horizontal-menu {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
    }
  
    a {
      margin-right: 20px;
      margin-top: 10px;
      
    }
  
    .menu-item {
      text-decoration: none;
      color: #333;
      display: flex;
      align-items: center;
      
    }
  
    .menu-item i {
      margin-right: 100px;
    }
  }

.img { 
    width: 12rem;
    height: 5rem;
    margin-left: 150px;
    
}

.p-button-secondary {
    background-color: black;
    color: white; /* Cambia el color del texto a blanco para que sea visible en el fondo negro */
}
.submenu {
  position: relative;
  cursor: pointer;

}

.submenu > ul {
  display: none;
  position: absolute;
  left: 0; /* Ajustamos la posición izquierda para que el submenú no se desplace a la derecha del elemento principal */
    top: 100%; /* Alineamos el submenú debajo del elemento principal */
    margin-top: 2px; /* Agregamos un margen superior para separar el submenú del elemento principal */
    background-color: #fff; /* Cambiamos el color de fondo para que sea más visible */
  
    z-index: 1; 
}

.submenu:hover > ul {
  display:block;

}

