.contenedor {
    display: flex; /* Utilizamos un contenedor flex para alinear los textos izquierdo y derecho. */
  }
  
  .texto-izquierdo {
    flex: 1; /* El texto izquierdo ocupará el espacio disponible. */
  }
  
  .texto-derecho {
    flex: 3;
    
  }

  .correo {
    margin-right: 100px;
  }

  #boton {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
  :host ::ng-deep .p-card {
    background-color: black !important;
    color: white;
    
    
  }

  .red_izq {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }

  .red_der {
    flex: 12;
    ; margin-right: 150px;
  }

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  

