<div class="footer">
<p-card  [style]="{'background-color':'black', 'color':'white','width':'100%'}">
    <div class="contenedor">
        <div class="texto-izquierdo">
            <p routerLink="/como-vendo" class="hover-effect" style="cursor: pointer;">¿Cómo vendo?</p>
            <p routerLink="/como-comprar" class="hover-effect" style="cursor: pointer;">¿Cómo comprar?</p>
            <p routerLink="/politica-de-devoluciones" class="hover-effect" style="cursor: pointer;">Política de devoluciones</p>
            <p routerLink="/preguntas-frecuentes" class="hover-effect" style="cursor: pointer;">Preguntas frecuentes</p>
        </div>
        
        <div class="texto-derecho">
            <p routerLink="/quienes-somos" class="hover-effect" style="cursor: pointer;">¿Quiénes somos?</p>
            <p routerLink="/misvis" class="hover-effect" style="cursor: pointer;">Misión & Visión</p>
            <p routerLink="/contacto" class="hover-effect" style="cursor: pointer;">Contacto</p>
            <p routerLink="/terminos-y-condiciones" class="hover-effect" style="cursor: pointer;">Términos y condiciones</p>
        </div>
        
        <div class="correo">
            <p>Para recibir novedades sumate a nuestra comunidad</p>
            <input  style="width: 500px; border-radius: 10px;margin-right: 50px;" placeholder="Correo Electronico:" pInputText aria-describedby="username-help" />
            <p-button [style]="{'background-color':'#CCAC9E', 'border':'1px solid white', 'border-radius':'10px','width':'150px'}">
                <span id="boton">Suscribirme</span>
            </p-button>
        </div>
    </div>

</p-card >

<p-card [style]="{
    'margin-top':'2px',
    'padding':'0',
    'height':'50px',
    'border-top-left-radius':'0',
    'border-top-right-radius':'0',
    'border-bottom-left-radius':'10px',
    'border-bottom-right-radius':'10px'
  }">

  <div style="display: flex; align-items: center; justify-content: center;margin-top: -40px;">
    <div class="red_izq">
        <p>Síguenos</p>
        <i class="pi pi-facebook" style="font-size: 2rem; margin-left: 10px;"></i>
        <i class="pi pi-instagram" style="font-size: 2rem; margin-left: 10px;"></i>
        <i class="pi pi-twitter" style="font-size: 2rem; margin-left: 10px;"></i>
    </div>
    <div class="red_der">
        <p style="text-align: center; margin-left: 10px;">Todos los derechos reservados</p>
    </div>
</div>

</p-card>
</div>