<div class="footer">
<p-card  [style]="{'background-color':'black', 'color':'white','width':'100%'}">
    <div class="contenedor">
        <div class="texto-izquierdo">
            <p>¿Como vendo?</p>
            <p>¿Como comprar?</p>
            <p>Politica de devoluciones</p>
            <p>Preguntas frecuentes</p>
        </div>
        <div class="texto-derecho">
            <p>¿Quienes somos?</p>
            <p>Mision & Vision</p>
            <p>Contacto</p>
            <p>Terminos y condiciones</p>
        </div>
        <div class="correo">
            <p>Para recibir novedades sumate a nuestra comunidad</p>
            <input  style="width: 500px; border-radius: 10px;margin-right: 50px;" placeholder="Correo Electronico:" pInputText aria-describedby="username-help" />
            <p-button [style]="{'background-color':'#CCAC9E', 'border':'1px solid white', 'border-radius':'10px','width':'150px'}">
                <span id="boton">Suscribirme</span>
            </p-button>
        </div>
    </div>
    

</p-card >

<p-card [style]="{
    'margin-top':'2px',
    'padding':'0',
    'height':'50px',
    'border-top-left-radius':'0',
    'border-top-right-radius':'0',
    'border-bottom-left-radius':'10px',
    'border-bottom-right-radius':'10px'
  }">
    
  <div style="display: flex; align-items: center; justify-content: center;margin-top: -40px;">
    <div class="red_izq">
        <p>Síguenos</p>
        <i class="pi pi-facebook" style="font-size: 2rem; margin-left: 10px;"></i>
        <i class="pi pi-instagram" style="font-size: 2rem; margin-left: 10px;"></i>
        <i class="pi pi-twitter" style="font-size: 2rem; margin-left: 10px;"></i>
    </div>
    <div class="red_der">
        <p style="text-align: center; margin-left: 10px;">Todos los derechos reservados</p>
    </div>
</div>
   
</p-card>
</div>