<shared-sidebar></shared-sidebar>
<div class="container">
  <div class="left-element">
    <img src="assets/imagenes/login.jpg" alt="">
  </div>
  <div class="right-element">
    <form [formGroup]="registroForm">
    <h1>Crea tu cuenta</h1>
    
      <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
          <div class="flex flex-column" >
            <div style="text-align: left;">
             <label for="username">Email</label>
            </div>
            <input formControlName="email" pInputText id="email" aria-describedby="username-help" />
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="flex flex-column" >
            <div style="text-align: left; padding-top: 10px;">
             <label for="username">Nombre(s)</label>
            </div>
            <input  pInputText id="nombres" formControlName="nombres" aria-describedby="username-help" />
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="flex flex-column" >
            <div style="text-align: left;padding-top: 10px;">
             <label for="username">Apellido Paterno</label>
            </div>
            <input formControlName="apellido_paterno" pInputText id="apellido_paterno" aria-describedby="username-help" />
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="flex flex-column" >
            <div style="text-align: left;padding-top: 10px;">
             <label for="username">Apellido Materno</label>
            </div>
            <input formControlName="apellido_materno"  pInputText id="apellido_materno" aria-describedby="username-help" />
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="flex flex-column" >
            <div style="text-align: left;padding-top: 10px;">
             <label for="username">Usuario</label>
            </div>
            <input formControlName="username" pInputText id="username" aria-describedby="username-help" />
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <div class="flex flex-column" >
            <div style="text-align: left;padding-top: 10px;">
             <label for="username">Contraseña</label>
            </div>
            <input formControlName="password" type="password" pInputText id="password" aria-describedby="username-help" />
          </div>
        </div>
        <div *ngIf="mostrarErrorCampos" class="error-message">
          Debes llenar todos los campos.
        </div>
        <div style="padding: 10px; margin-left: 40%;">
          <button (click)="registroBoton(registroForm)"  pButton  pRipple  type="button" label="Crear cuenta" class="p-button-secondary"></button>
      </div>
     </div>
    </form>
  </div>
</div>
<div class="footer">
<shared-footer ></shared-footer>
</div>