<section class="sect-button">
    <button class="btn-1-sect">
        <p>Volver a Inicio</p>
        <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
    </button>
</section>
<section class="sect-1-cv">
    <div class="container-cv">
        <h1> ¿Cómo puedo vender en Ecbooks?  </h1>
    <p>
        Crea tu cuenta. Entra a nuestra pagina. Selecciona 👤 y das en “Registrarme”. Por ultimo completa los datos datos solicitados
        Revisa tus libros, mangas o comics este. Deben estar en perfecto estado, sin roturas, sin manchas, o rayones que no permitan la visibilidad al leer.
        Limpia tu Librero. Separa los libros, mangas o comics que desees vender y que cumplan con las condiciones para ser aceptadas en nuestra pagina.
        Aprueba tus precios. De manera automática al ingresar tus productos en la pagina te indicaremos el precio sugerido de venta, que podrás modificar cuantas veces quieras.
        ¡Comienza a vender! ♻️🌎. Tus ganancias se acreditarán en tu 💵 Balance Ecbooks en un plazo de 5 días habiles de acuerdo a las comisiones de venta. Podrás usarlas para comprar en el sitio o transferirlas a tu cuenta bancaria.

       <br><br> Mirá en este video el paso a paso de cómo vender:

    </p>
</div>
</section>
<section class="sect-2-cv">
    <div class="container-vid">

    <p>

    </p>
</div>
</section>
<section class="sect-3-cv">
    <div class="text-cv">¿Aún tienes preguntas?</div>
      <div class="text-2-cv" >¡Estamos aquí para ayudar!</div>
        <div class="bt-cv"> <button class="btn-cv"> Contactanos </button></div>
</section>

<shared-footer></shared-footer>