<shared-sidebar></shared-sidebar>
<section class="sect-1-misvis">
    <div class="phrase1"></div>
    <div class="container-mis">
        <h1> MISIÓN  </h1>
    <p>
        Conectar con los amantes de la lectura, buscamos fomentar la reutilización de libros, mangas y comics, promoviendo la sostenibilidad
        y el acceso a historias fascinantes. Nuestra plataforma es un espacio de intercambio que celebra la diversidad literaria,
        donde cada página compartida representa una oportunidad de redescubrimiento y enriquecimiento cultural.

    </p>
</div>
<div class="container-vis">
    <h1> VISIÓN  </h1>
<p>
    Convertirnos en el epicentro global de la reutilización de historias, inspirando a millones de personas a compartir, descubrir y
    disfrutar de libros, mangas y comics de forma sostenible. Queremos construir una comunidad apasionada que contribuya a un mundo más
     consciente, donde las palabras y las imágenes perduren a través de generaciones, enriqueciendo la vida de cada lector y preservando
     la magia de las historias para las futuras.
</p>
</div>
</section>
<section class="img-slogan2">

</section>
<shared-footer></shared-footer>