<!-- <div>
    <h2>Carrito de Compras</h2>
    <div *ngFor="let producto of carritoService.getProductos(); let i = index" class="producto-carrito">
      <span>{{ producto.nombre }} - {{ producto.precio | currency:'USD':'symbol':'1.2-2' }}</span>
      <button (click)="eliminarDelCarrito(i)">Eliminar</button>
    </div>
    <div *ngIf="carritoService.getProductos().length === 0">
      El carrito está vacío.
    </div>
    <div>
      <strong>Total:</strong> {{ calcularTotal() | currency:'USD':'symbol':'1.2-2' }}
    </div>
  </div> -->
  