
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formscont{
    height: 50rem;
    text-align: center;
}

button{
    text-align: center; color: white; font-size: 24px; font-family: Poppins; font-weight: 300; word-wrap: break-word;
    background-color: #000;
    border-radius: .5rem;
font-size: 24px;
font-family: Poppins;
font-weight: 300;
word-wrap: break-word
}