<shared-sidebar></shared-sidebar>

<section class="container">
  <div class="wrap-contact">
    <form [formGroup]="form" (ngSubmit)="send()" class="contact_form">
      <h1> Contactanos  </h1>
        <div class="wrap-input2 validate-input">
        <label for="name" class="input2">Nombre:*</label>
        <input formControlName="name" type="text" id="name" name="name"/>
      </div>
      <div class="relative mb-4">
        <label for="email"> Email: *</label>
        <input formControlName="email" type="email" id="email" name="email"/>
      </div>
      <div class="relative mb-4">
        <label for="phone"> Telefono: *</label>
        <input formControlName="phone" type="phone" id="phone" name="phone"/>
        <div class="relative mb-4">
          <label for="cu" class="leading-7 text-sm text-gray-600">Asunto: *</label>
          <input formControlName="cu" type="cu" id="cu" name="cu"/>
      </div>
      </div>
      <div class="relative mb-4">
        <label for="message" class="m-lbl-1"> Mensaje (Indícanos todos los detalles necesarios para poder ayudarte con tu solicitud): *</label>
        <textarea formControlName="message" id="message" name="message" class="mensaje"></textarea>
      </div>
      <button type="submit" class="form_button"> Enviar </button>
    </form>
  </div>
</section>
<shared-footer></shared-footer> 
