
<section class="sect-button" routerLink="/inicio">
    <button class="btn-1-sect">
        <p>Volver a Inicio</p>
        <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
    </button>
</section>
<section class="sect-1-d">
    <div class="container-d">
        <h1> ¿Cómo solicito una devolución?</h1>
    <p>
        Una vez recibida tu orden cuentas con hasta 72 hs. corridas para solicitar la devolución desde tu cuenta en nuestra website.

 Para ello solo sigue estos pasos:
  
Ingresa a la pagina > Perfil> Mis compras
Selecciona la orden > Solicitar devolución en la parte inferior de la pantalla
Selecciona los items que deseas devolver.  Recuerda que solo podrás solicitar una devolución por orden, asegúrate de seleccionar todos los ítems que deseas devolver debido a que esta no podrá ser modificada luego de la confirmación.
Solicita Guía de paquetería con un costo asociado según tu zona (el costo se descontará automáticamente de tu Balance al solicitar la devolución).*
Tendrás un plazo máximo de 3 días hábiles para entregar tu devolución en el lugar seleccionado. 
Una vez recibido el/ los productos en Ecbooks, pasarán por un control de calidad. Te notificaremos vía correo electrónico y acreditaremos el reembolso en tu créditos Ecbooks para que puedas volver a comprar.

    </p>
    <p style=" font-weight: 600; font-family: 'Montserrat', sans-serif; text-align:center; ">
       <br> <br> *Para el caso el monto a devolver sea mayor al costo de la guía o no contar con cobertura en tu ciudad, no podremos ofrecer esta opción. 
    </p>
    <p>
        <br> <br>   En caso de no entregar o enviar su devolución en un plazo menor o igual a 3 días hábiles desde solicitada la devolución, la misma no será aceptada y se devolverá el artículo, debiendo el comprador pagar el costo de envío a su domicilio.
     </p>

</div>
</section>
<section class="sect-2-d">
    <div class="container-vid">

    <p>

    </p>
</div>
</section>
<section class="sect-3-d">
    <div class="text-d">¿Aún tienes preguntas?</div>
      <div class="text-2-d" >¡Estamos aquí para ayudar!</div>
        <div class="bt-d" routerLink="/contacto"> <button class="btn-d"> Contactanos </button></div>
</section>

<shared-footer></shared-footer>
