@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.perfil {
    text-align: center;
    margin-top: 20px;
   }

   @mixin box($size, $color, $img-src) {
    width: $size;
    height: $size;
    background-color: $color;
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-image: url($img-src);
       background-size: cover;
       transform: scale(.7);
      z-index: 1;
    }
   }
   
.foto-perfil {
    @include box(100px, #ff5733, "/assets/imagenes/Login/perfil.webp");
}
   
.foto-portada{
    @include box(100px, #c70039, "/assets/imagenes/Login/portada.jpeg");
    width: 100%;
    height: 15rem;
}

.info h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}