<shared-sidebar></shared-sidebar>

<!-- 
<div class="relative bg-gray-800 max-w-full">
    <div class="absolute inset-0">
      <img class="w-full h-full object-cover" [src]="profile.banner.url" alt="">
      <div class="absolute inset-0 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8"></div>
  </div>
  
  <!-- USER PROFILE -->
  <!-- <div class="md:grid md:gap-6 relative flex space-x-22 pt-4">
    <div class="mt-5 md:mt-0 ">
      <div>
        <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
            <div class="flex">
              <img class="h-24 w-24 rounded-full ring-4 dark:ring-dark-second ring-white sm:h-32 sm:w-32 hover:bg-gray-100"
                   [src]="profile.picture.url" alt="{{ profile.user.username }} Profile Picture">
            </div>
  
            <div x-data="{ open: false }" @keydown.window.escape="open = false"
                 class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
              <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
                <span *ngIf="user.is_authenticated && user !== profile.user && is_following">
                    <button type="submit" class="float-right inline-flex justify-center px-4 py-2 border dark:bg-dark-main dark:border-dark-third dark:hover:bg-dark-third dark:text-dark-txt border-blue-500 shadow-sm text-md font-bold rounded-full text-blue-500 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-second focus:ring-blue-500">
                      Unfollow
                    </button>
                  </span>
                <a *ngIf="user.isAuthenticated && user !== profile.user"
                   class="inline-flex justify-center px-4 py-2 border dark:bg-dark-main dark:border-dark-third dark:hover:bg-dark-third dark:text-dark-txt border-blue-500 shadow-sm text-md font-bold rounded-full text-blue-500 dark:bg-dark-second bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-second focus:ring-blue-500"
                   href="#">Follow</a>
  
                <div class="ml-4 flex-shrink-0">
                  <a *ngIf="user.isAuthenticated && user === profile.user"
                     href="{% url 'users:edit-profile' %}"
                     class="inline-flex justify-center px-4 py-2 border dark:bg-dark-main dark:border-dark-third dark:hover:bg-dark-third dark:text-dark-txt border-blue-500 shadow-sm text-md font-bold rounded-full text-blue-500 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-second focus:ring-blue-500">
                    <span>Edit Profile</span>
                  </a>
                </div>
              </div>
            </div>
          </div> -->
  
          <!-- <div class=" sm:block  mt-6 min-w-0 flex-1">
            <h1 class="text-2xl font-bold dark:text-dark-txt text-gray-900 truncate">
              {{ profile.user.username }}
              <svg *ngIf="profile.verified === 'verified'" xmlns="http://www.w3.org/2000/svg"
                   class="h-5 w-5 inline-block text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"/>
              </svg>
            </h1>
          </div>
   <!-- <p *ngIf="profile.bio" class="mt-2 max-w-4xl text-sm dark:text-dark-txt text-gray-500">{{ profile.bio }}</p> -->
  
          <!-- <div class="flex space-x-3 mt-6 dark:text-dark-txt text-gray-500">
            <span class="inline-flex items-center text-sm">
              <!-- Heroicon name: solid/office-building -->
              <!-- <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 21h18M9 8V4m6 0v4"></path>
              </svg>
              <span class="ml-2">
                {{ profile.location }}
              </span>
            </span>
            <span class="inline-flex items-center text-sm">
              <!-- Heroicon name: solid/calendar 
              <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
              </svg>
              <span class="ml-2">
                Joined {{ profile.user.created_at | date: 'mediumDate' }}
              </span>
            </span>
          </div>
        </div>
   -->
        <!-- <div class="mt-6 sm:mt-2  dark:bg-dark-third bg-white rounded-md overflow-hidden shadow p-2">
          <div class="bg-white px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium dark:text-dark-txt text-gray-900">
              Account Information
            </h3>
            <p class="mt-1 max-w-2xl text-sm dark:text-dark-txt text-gray-500">
              Personal details and application.
            </p>
          </div>
          <div class="border-t border-gray-200 dark:border-dark-third px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium dark:text-dark-txt text-gray-500">
                  Full name
                </dt>
                <dd class="mt-1 text-sm dark:text-dark-txt text-gray-900">
                  {{ profile.user.get_full_name }}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium dark:text-dark-txt text-gray-500">
                  Email address
                </dt>
                <dd class="mt-1 text-sm dark:text-dark-txt text-gray-900">
                  {{ profile.user.email }}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium dark:text-dark-txt text-gray-500">
                  Username
                </dt>
                <dd class="mt-1 text-sm dark:text-dark-txt text-gray-900">
                  {{ profile.user.username }}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium dark:text-dark-txt text-gray-500">
                  Joined
                </dt>
                <dd class="mt-1 text-sm dark:text-dark-txt text-gray-900">
                  {{ profile.user.created_at | date: 'mediumDate' }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
  
        <div class="mt-6 sm:mt-2  dark:bg-dark-third bg-white rounded-md overflow-hidden shadow p-2">
          <div class="bg-white px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium dark:text-dark-txt text-gray-900">
              Posts by {{ profile.user.username }}
            </h3>
            <p class="mt-1 max-w-2xl text-sm dark:text-dark-txt text-gray-500">
              View all posts made by this user.
            </p>
          </div>
   -->
          <!-- Display user's posts -->
          <!-- <div class="border-t border-gray-200 dark:border-dark-third px-4 py-5 sm:px-6">
            <ul class="divide-y dark:divide-dark-third divide-gray-200">
              <li *ngFor="let post of profile.user.posts" class="py-4">
                <div class="flex space-x-3">
                    <img class="h-24 w-24 rounded-full ring-4 dark:ring-dark-second ring-white sm:h-32 sm:w-32 hover:bg-gray-100"
                    [src]="profile.picture.url" alt="{{ profile.user.username }} Profile Picture">
                  <div class="flex-1 space-y-1">
                    <div class="flex items-center justify-between">
                      <h3 class="text-sm font-medium dark:text-dark-txt text-gray-900">
                        {{profile.user.first_name}} {{profile.user.last_name}}
                    </h3>
                      <p class="ml-4 text-sm dark:text-dark-txt text-gray-500">
                        {{profile.user.email}}
                    </p>
                    </div>
                    <p class="text-sm dark:text-dark-txt text-gray-500">
                        {{profile.user.username}}
                    </p>
                    <div class="flex items-center justify-between">
                      <a href="#" class="font-medium dark:text-dark-txt text-blue-600 hover:text-blue-500">
                        Read more
                      </a>
                      <div class="flex items-center space-x-2">
                        {{user.profile.banner.url}}
                        {{user.profile.picture.url}}
                    </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> --> 

<shared-footer></shared-footer>