
<section class="sect-button">
    <button class="btn-1-sect">
        <p>Volver a Inicio</p>
        <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
    </button>
</section>
<section class="sect-1-cc">
    <div class="container-cc">
        <h1> ¿Cómo comprar en Ecbooks? </h1>
    <p>
        Comprar en Ecbooks es muy fácil y sencillo:
        Entra a nuestro sitio web y regístrate
        En el Menú Principal, encontrarás secciones por Grupos de Géneros, lo reciente agregado, rebajas y lo mas buscado..
        En el menú Buscar también puedes encontrar lo que deseas con facilidad (autor, categoría, editorial, Ecboksers) y aplicar filtros
        Luego agrega tus prendas favoritas al Carrito y ¡finaliza tu pedido!
        Si tu libro, manga o comic no era lo que esperabas, siempre podés devolverla dentro de las primeras 72 hs de recibida y te acreditaremos
        el saldo correspondiente en tu Balance Ecbooks, para que puedas realizar una nueva compra cuando tú lo desees.

Mirá en este video el paso a paso de cómo comprar:
       <br><br> Mirá en este video el paso a paso de cómo vender:

    </p>
</div>
</section>
<section class="sect-2-cc">
    <div class="container-vid">

    <p>

    </p>
</div>
</section>
<section class="sect-3-cc">
    <div class="text-cc">¿Aún tienes preguntas?</div>
      <div class="text-2-cc" >¡Estamos aquí para ayudar!</div>
        <div class="bt-cc"> <button class="btn-cc"> Contactanos </button></div>
</section>

<shared-footer></shared-footer>
